<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 2
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 2</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid fixed slot="fixed" style="bottom: 0">

    <p>Click on the Sub2 (page changed)</p>
    <p>Click back on the Sub1 (nothing happens, expected to switch to Sub1)</p>
    <p>Navigation does not work anymore</p>

    <ion-button routerLink="./sub-tab1">Sub 1</ion-button>
    <ion-button routerLink="./sub-tab2">Sub 2</ion-button>



  </ion-grid>

  <ion-router-outlet></ion-router-outlet>



</ion-content>
